.ShowEvents{
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}



.ShowEvents button{
    padding: 5px;
    margin-left: 5vw;
}
.EventCard{
    padding: 10px;
    margin: 20px;
    width:50vw;
    background-color: rgb(85, 85, 84);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.EditLead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.EditLead input{
    padding: 10px;
    margin: 10px;
    width:300px;
    background-color: rgb(85, 85, 84);
    border-radius: 5px;
    color: white;
    border:none;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
}
.EditLead select {
    padding: 10px;
    margin: 10px;
    width:300px;
    background-color: rgb(85, 85, 84);
    color: white;
}

.EditButtons{
    margin-top: 3vh;
    width:300px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    text-align:center
}
.EditButtons button{
    margin: 0;
}
@media (max-width:750px){
    .EventCard{
        width:90vw;
    }
    
}